<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.nspm.ConfigBackupMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.ConfigBackup">
        <id column="id" property="id"></id>
        <result column="file_home" property="fileHome"></result>
        <result column="script" property="script"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, file_home, script
    </sql>

    <select id="getInstance" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List"/>
        FROM metoo_config_backup
        LIMIT 1
    </select>

</mapper>