<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.nspm.NetworkElementMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.NetworkElement">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"></id>
        <result column="addTime" property="addTime"></result>
        <result column="deleteStatus" property="deleteStatus"></result>
        <result column="ip" property="ip"></result>
        <result column="device_name" property="deviceName"></result>
        <result column="interface_name" property="interfaceName"></result>
        <result column="interface_names" property="interfaceNames"></result>
        <result column="flux" property="flux"></result>
        <result column="group_id" property="groupId"></result>
        <result column="group_name" property="groupName"></result>
        <result column="device_type_id" property="deviceTypeId"></result>
        <result column="device_type_name" property="deviceTypeName"></result>
        <result column="vendor_id" property="vendorId"></result>
        <result column="vendor_name" property="vendorName"></result>
        <result column="description" property="description"></result>
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="connect_type" property="connectType"></result>
        <result column="port" property="port"></result>
        <result column="credential_id" property="credentialId"></result>
        <result column="web_url" property="webUrl"></result>
        <result column="permit_connect" property="permitConnect"></result>
        <result column="port_index" property="portIndex"></result>
    </resultMap>

    <select id="selectObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT *
        FROM metoo_ne
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="ip != null and ip != ''">
                AND ip = #{ip}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND device_name = #{deviceName}
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
               AND user_name = #{userName}
            </if>
            <if test="permitConnect != null and permitConnect != ''">
                AND permit_connect = #{permitConnect}
            </if>
            <if test="webUrl != null and webUrl != ''">
                AND web_url is not null
            </if>
            <if test="connectType != null and connectType != ''">
                AND connect_type = #{connectType}
            </if>
            <if test="uuid != null and uuid != ''">
                AND uuid = #{uuid}
            </if>
            <if test="neId != null">
                AND id != #{neId}
            </if>
        </where>
    </select>

</mapper>