<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.nspm.NetworkElementAccessoryMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.NeAccessory">
        <result column="ne_id" property="neId"></result>
        <result column="accessory_id" property="accessoryId"></result>
    </resultMap>

    <select id="selectObjById" parameterType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT * FROM metoo_ne_accessory
        where id = #{id}
      </select>

    <select id="selectObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT * FROM metoo_ne_accessory
        <where>
            <if test="neId != null">
                AND ne_id = #{neId}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.metoo.nspm.entity.nspm.NeAccessory">
        INSERT INTO metoo_ne_accessory
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="neId != null">
                ne_id,
            </if>
            <if test="accessoryId != null">
                accessory_id,
            </if>
        </trim>
        <trim prefix="VALUES(" suffixOverrides="," suffix=")">
            <if test="neId != null">
                #{neId},
            </if>
            <if test="accessoryId != null">
                #{accessoryId},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM metoo_ne_accessory
        WHERE id = #{id}
    </delete>
</mapper>