<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.nspm.ResMapper">

    <sql id="Base_Column_List">
        id, addTime, deleteStatus, `name`, `value`, `type`, url, component, componentName,
        sequence, `level`, parentId, parentName, icon, hidden
    </sql>

    <select id="findResByRoleId" parameterType="java.lang.Long" resultType="com.metoo.nspm.entity.nspm.Res">
        SELECT role.id role_id,role.name,role.roleCode,role.type,
          res.id,res.value, res.component, res.componentName, res.level, res.parentId, res.parentName,
           res.icon, res.sequence
        FROM metoo_res res
        LEFT JOIN metoo_role_res rr  ON rr.res_id=res.id
        LEFT JOIN metoo_role role ON role.id=rr.role_id
        WHERE role.id=#{id}
        AND res.level = 1
    </select>

    <update id="update" parameterType="com.metoo.nspm.entity.nspm.Res">
        UPDATE metoo_res mr
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="value != null">
                value=#{value},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="role != null">
                role_id=#{role.id},
            </if>
            <if test="parentId != null">
                parentId = #{parentId},
            </if>
            <if test="parentName != null">
                parentName = #{parentName},
            </if>
            <if test="icon != null">
                icon =  #{icon},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="component != null">
                component = #{component},
            </if>
            <if test="componentName != null">
                componentName = #{componentName},
            </if>
            <if test="sequence != null">
                sequence = #{sequence},
            </if>
            <if test="level != null">
                level = #{level},
            </if>

            <if test="hidden != null">
                hidden = #{hidden},
            </if>
        </set>
        <where>
            <if test="id != null">
                id=#{id}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM metoo_res
        WHERE id=#{id, jdbcType=BIGINT}
    </delete>
</mapper>