<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.nspm.zabbix.RouteHistoryMapper">

    <sql id="Copy_Column_List">
         addTime, mask, destination, cost, proto, flags, next_hop, interface_name, device_name, device_uuid, mask_bit
    </sql>

    <insert id="copyRoutTemp">
        INSERT INTO rsms_route_history (<include refid="Copy_Column_List"/>)
        SELECT <include refid="Copy_Column_List"/> FROM rsms_route_temp
    </insert>

</mapper>